@use "variable" as v;

header {
  z-index: 999;
  font-size: 15px;
  position: fixed;
  top: 0;
  background-image: linear-gradient(
    to right,
    v.$base-color-1,
    v.$base-color,
    v.$base-color-2
  );

  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  color: v.$text-color;

  .header-container {
    width: 70%;
    margin: auto;
    display: flex;

    @media screen and (max-width: v.$tablet-width) {
      width: 90%;
    }

    .header-container-content {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      .title-nav {
        width: 100%;
        display: flex;
        align-items: center;
        flex: 6;

        @media screen and (max-width: v.$tablet-width) {
          flex: 9;
        }

        @media screen and (max-width: v.$phone-width) {
          flex: 2;
        }

        .title-logo {
          flex: 2;
          display: flex;
          align-items: center;

          @media screen and (max-width: v.$phone-width) {
            flex: 20;
          }

          .header-link {
            display: flex;
            align-items: center;

            .logo {
              max-width: 45px;
              margin-right: 1.5em;
              img {
                border-radius: 2px;
                width: 100%;
                min-width: 45px;
              }
            }

            .title {
              font-weight: bold;
              font-size: large;
              color: v.$text-color;
            }
          }
        }

        .nav-bar {
          flex: 3.5;
          display: flex;
          justify-content: right;
          height: 50px;

          .nav-bar-option {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            flex: 2;
            justify-content: right;

            @media screen and (max-width: v.$phone-width) {
              display: none;
            }

            .opt-nav-bar {
              cursor: pointer;
              margin-left: 20px;
              margin-right: 20px;

              .header-link {
                color: v.$text-color;
              }
              
            }
          }
        }
      }

      .logout-notification {
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;

        @media screen and (max-width: v.$tablet-width) {
          justify-content: right;
          flex: 1.5;
        }

        button {
          border-radius: 8px 8px 8px 0;
          border: 2px solid rgba(0, 0, 0, 0);
          background-color: v.$text-color;
          color: v.$base-color;
          padding: 0 25px;
          height: 31px;
          min-width: 115px;
          font-weight: 700;
          cursor: pointer;
          transition: all .3s;
          margin-right: 10px;

          &:hover {
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid v.$text-color;
            color: v.$text-color;
          }
        }

        .notification {
          position: relative;

          .icon {
            font-size: x-large;
            cursor: pointer;
            margin-top: 7px;
            transition: .5s;
          }

          .body_notification {
            position: absolute;
            right: 0;
            top: 54px;
            color: #000000;
            font-size: large;
            background-color: #fff;
            width: 340px;
            height: 770px;
            border: 1px solid rgba(38, 56, 150, 0.1411764705882353);
            border-radius: 10px;
            padding: 24px;
            box-shadow: 0 8px 12px 5px rgb(34 41 47 / 12%);

            .title {
              font-size: x-large;
              font-weight: 600;
              margin-bottom: 30px;
            }

            ul {
              list-style: none;

              li {
                margin-bottom: 15px;
              }
            }
          }
        }

      }
    }
  }
}

.title-all-page {
  margin-top: 100px;
  margin-bottom: 20px;
  .home-title {
    margin-top: 100px;
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 5px;

    @media screen and (max-width: v.$phone-width) {
      font-size: large;
    }

    div {
      margin-bottom: 5px;
    }

    .start {
      font-size: large;
    }
  }
}

.bottom {
  z-index: 999;
  font-size: 11px;
  position: fixed;
  bottom: 20px;
  width: 100%;

  .nav-bar-bottom {
    display: none;

    @media screen and (max-width: v.$phone-width) {
      display: flex;
      justify-content: center;
      max-width: 430px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      border: 2px solid #4a85c4;
      background-color: rgb(253, 253, 253);

      .nav-bar-bottom-container {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;

        .nav-bar-option {
          display: flex;
          width: 100%;
          align-items: center;
          flex: 2;
          justify-content: right;
          height: 100%;

          .opt-nav-bar {
            cursor: pointer;
            flex: 1;
            text-align: center;
            list-style: none;

            &:hover .header-link .img {
              transform: translateY(-18px);
              width: 45px;
            }

            &:hover .header-link .text {
              transform: translateY(-10px);
              font-size: 13px;
            }

            .header-link {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              font-weight: 500;
              color: #4a85c4;
              
              .img {
                top: 10px;
                display: block;
                transition: 0.5s;
                width: 40px;
                margin-right: auto;
                margin-left: auto;
                img {
                  width: 100%;
                }
              }

              .text {
                padding-top: 2.5px;
                letter-spacing: 0.05em;
                transition: 0.5s;
              }
            }
          }

        }
      }
    }
  }
}
