@use "variable" as v;

header {
  z-index: 999;
  font-size: medium;
  position: fixed;
  top: 0;
  background-image: linear-gradient(
    to right, 
    v.$base-color-1,
    v.$base-color,
    v.$base-color
  );
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  color: v.$text-color;

  .header-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    @media screen and (max-width: v.$tablet-width) {
      width: 90%;
    }

    .header-container-content {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      
      .title-nav {
        width: 100%;
        display: flex;
        align-items: center;
        flex: 6;

        @media screen and (max-width: v.$tablet-width) {
          flex: 5;
        }

        @media screen and (max-width: v.$phone-width) {
          flex: 2;
        }

        .title-logo {
          flex: 1;
          display: flex;
          align-items: center;

          .header-link {
            display: flex;
            align-items: center;

            .logo {
              max-width: 45px;
              margin-right: 1.5em;
              img {
                border-radius: 2px;
                width: 100%;
                min-width: 45px;
              }
            }
  
            .title {
              font-weight: bold;
              font-size: large;
              color: v.$text-color;
            }
          }
        }

        .nav-bar {
          flex: 1;
          display: flex;
          justify-content: right;

          .nav-bar-option {
            display: flex;
            width: 100%;
            align-items: center;
            flex: 2;
            justify-content: right;

            @media screen and (max-width: v.$phone-width) {
              display: none;
            }

            .opt-nav-bar {
              cursor: pointer;
              margin-left: 20px;
              margin-right: 20px;

              .header-link {
                color: v.$text-color;
              }
            }
          }
          
        }
      }

      .logout {
        flex: 1;
        display: flex;
        justify-content: left;

        @media screen and (max-width: v.$tablet-width) {
          justify-content: right;
        }

        button {
          border-radius: 8px 8px 8px 0;
          border: 2px solid rgba(0, 0, 0, 0);
          background-color: v.$text-color;
          color: v.$base-color;
          padding: 5px 25px;
          font-weight: 700;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid v.$text-color;
            color: v.$text-color;
          }
        }
      }
    }
  }
}

.bottom {
  font-size: medium;
  position: fixed;
  bottom: 20px;
  width: 100%;

  .nav-bar-bottom {
    display: none;
  
    @media screen and (max-width: v.$phone-width) {
      display: flex;
      justify-content: center;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      background-image: linear-gradient(
        to right, 
        v.$base-color-1,
        v.$base-color
      );
      color: v.$text-color;

      .nav-bar-bottom-container {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;

        .nav-bar-option {
          display: flex;
          width: 100%;
          align-items: center;
          flex: 2;
          justify-content: right;

          .opt-nav-bar {
            cursor: pointer;
            flex: 1;
            text-align: center;

            .header-link {
              color: v.$text-color;
            }
          }
        }
      }
    }
  }
}
