@use "variable" as v;

.home-container {
  width: 100%;
  margin-bottom: 200px;
  margin-top: 20px;

  .btn-input {
    width: 70%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1210px) {
      width: 100%;
    }

    button {
      height: 38px;
      padding: 0 10px;
      border: 2px solid #34882c;
      border-radius: 8px 8px 8px 0;
      background-color: #34882c;
      border: none;
      color: #fff;
      font-size: medium;
      font-weight: 600;
      transition: all 0.5s;

      &:hover {
        color: #34882c;
        background-color: #fff;
        border: 2px solid #34882c;
      }
    }
  }

  .statistic {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px solid rgba(38, 56, 150, 0.1411764705882353);
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 4px 12px 0 rgb(34 41 47 / 12%);

    @media screen and (max-width: 1210px) {
      width: 100%;
    }

    @media screen and (max-width: 525px) {
      padding-left: 0;
      padding-right: 0;
    }

    .statistic-container {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 525px) {
        .stats-title,
        .stats-filter,
        .title-in-title {
          padding-left: 24px;
          padding-right: 24px;
        }
      }

      .stats-title {
        font-size: x-large;
        font-weight: 600;
        padding-bottom: 20px;

        @media screen and (max-width: v.$phone-width) {
          font-size: large;
        }
      }

      .stats-filter {
        .list {
          flex-wrap: wrap;

          .filter {
            padding-bottom: 15px;
            @media screen and (max-width: 1629px) {
              padding-bottom: 15px;
            }
          }
        }

        .list-citizens-search {
          width: 100%;
          margin-bottom: 20px;
          align-items: flex-start;
          display: flex;

          @media screen and (max-width: 1009px) {
            flex-direction: column;
          }

          .filter {
            margin-right: 20px;
            width: 240px;

            @media screen and (max-width: 1009px) {
              width: 100%;
              margin-right: 0;
              margin-bottom: 20px;
              padding-bottom: 0;
            }
          }

          .submit {
            padding: 0.5rem 1rem;
            font-size: medium;
            background-color: v.$base-color;
            color: v.$text-color;
            border-radius: 8px 8px 8px 0;
            border: 2px solid rgba(0, 0, 0, 0);
            font-weight: 700;
            transition: all 0.3s;

            &:hover {
              background-color: rgba(0, 0, 0, 0);
              border: 2px solid v.$base-color;
              color: v.$base-color;
            }
          }
        }
      }

      .title-in-title {
        margin-top: 50px;
        text-align: center;
        font-size: x-large;
        font-weight: 500;

        @media screen and (max-width: v.$phone-width) {
          font-size: large;
        }
      }

      .stats-result {
        margin-top: 40px;

        .stats-chart {
          border: 1px solid rgba(38, 56, 150, 0.1411764705882353);
          border-radius: 10px;
          padding: 24px;
          padding-bottom: 50px;
          padding-top: 40px;
          margin-bottom: 30px;
          box-shadow: 0 4px 12px 0 rgb(34 41 47 / 12%);

          @media screen and (max-width: 550px) {
            padding-left: 0;
            padding-right: 0;
          }
        }

        .age-gender {
          .comment {
            font-size: medium;
            font-style: italic;
            padding-left: 20px;
            padding-top: 20px;

            @media screen and (max-width: 525px) {
              font-size: small;
            }
          }
        }

        .religion {
          .religion-stats {
            margin-top: 30px;

            .title {
              font-size: large;
              font-weight: 500;
              padding-left: 20px;
              padding-bottom: 30px;
            }

            .some-stat {
              display: flex;
              align-items: center;
              justify-content: center;

              height: 200px;
              width: 100%;

              .organization, .number-of-faithful {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                  height: 120px;
                  width: 120px;
                  background-repeat: no-repeat;
                  background-size: 120px;
                  margin-bottom: 20px;
                }

                span {
                  font-size: large;
                  span {
                    font-size: xx-large;
                    font-weight: 600;
                  }
                }

                .extra {
                  font-size: medium;
                  font-style: italic;
                }
              }

              .organization {
                div {
                  background-image: url('../assets/organization.png');
                }
              }

              .number-of-faithful {
                div {
                  background-image: url('../assets/faithful.png');
                }
              }
            }
          }
        }

        .ethnic {
          .chart-title,
          .chart-subtitle,
          .total-title {
            text-align: center;
            font-size: large;
            font-weight: 600;
          }

          .chart-subtitle {
            margin-bottom: 30px;
          }

          .total-title {
            margin-top: 60px;
            margin-bottom: 20px;
          }

          .table-of-ethnic {
            width: 60%;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: 850px) {
              width: 100%;
            }

            @media screen and (max-width: 550px) {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }

        .highcharts-title {
          font-weight: 600;
        }

        .occupation {
          .chart-title {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 30px;
          }

          .title-top-10 {
            padding-left: 24px;
            padding-top: 30px;
            padding-bottom: 20px;
            font-size: large;
            font-style: italic;
            font-weight: 500;

            @media screen and (max-width: v.$phone-width) {
              font-size: medium;
            }
          }

          .statistic-force {
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-wrap: wrap;

            img {
              display: block;
              width: 150px;
              height: 150px;
              margin: 10px 0px;
            }
          }

          .box-occupation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 50px 0px;
            padding: 10px;

            b {
              font-size: 30px;
            }

            div {
              max-width: 270px;
            }
          }
        }
      }
    }
  }
}
