@use "variable" as v;

.newUnit-body {
  width: 55.9%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  font-size: 1.6rem;

  @media screen and (max-width: v.$tablet-width-3) {
    width: 90%;
  }

  .name-of-official {
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 5px;

    @media screen and (max-width: v.$phone-width) {
      font-size: large;
    }

    div {
      margin-bottom: 5px;
    }

    .start {
      font-size: large;
    }
  }

  .header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;

    .header-title {
      flex: 1;
      display: flex;
      align-items: center;

      div {
        font-weight: 700;
        padding-right: 20px;

        @media screen and (max-width: v.$phone-width) {
          font-size: large;
        }
      }
    }

    .button-new-unit {
      flex: 1;
      display: flex;
      justify-content: right;
    }
  }
}
