$base-color: #2e3091;
$base-color-1: rgb(211, 18, 50);
$base-color-2: rgb(18, 156, 18);
$secondary-color: #3c4ec5;
$third-color: #ed1b23;
$text-color: #fff;
$hover-color: #131461;

$phone-width: 762px;
$phone-width-2: 1065px;
$tablet-width: 1144px;
$tablet-width-2: 1217px;
$tablet-width-3: 1290px;
